body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container {
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
}
img{
    height: 130%;
    width: 130%;
}
.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30em;
    left: 30em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 255, 255);
    animation: orbit 36.5s linear infinite;
}
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.moon {
    top: 25.5em;
    left: 25.5em;
    width: 30em;
    height: 30em;
    animation: orbit 2.8s linear infinite;
}


.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.pluto::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}
.moon::before {
    top: 3em;
    right: 1.6em;
    width: 4em;
    height: 4em;
    background-image: url('./images/moon.png');
    background-size: cover;
}


.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}