body {
    margin: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container {
    font-size: 6px;
    width: -1em;
    height: -1em;
    position: relative;
}
img{
    height: 225%;
    width: 225%;
}
.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30em;
    left: 100em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 255, 255);
    animation: orbit 36.5s linear infinite;
}
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.moon {
    top: -50em;
    left: 80em;
    width: 60em;
    height: 60em;
    animation: orbit 5s linear infinite;
}
.earth::before,
.moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}
.moon::before {
    top: 1em;
    right: 1.6em;
    width: 15em;
    height: 15em;
    background-image: url('./images/moon.png');
    background-size: cover;
}


.star {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    z-index: -1;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}
